<section id="section--subscribe">
        <div class="container mx-auto px-4 md:px-8 py-10">
            <div class="bg-white py-12 px-8 rounded-xl">
                <div class="subscribe__container mx-auto" >
                    <div class="mb-6 mx-auto text-center">
                        <h5 class="text-center mb-4">Don’t miss a post!</h5>
                        <h6 class="text-xl">Subscribe to our newsleter and get tips, news, and updates about our product in your inbox!</h6>
                    </div>
                    <div class="flex flex-col itemc-center space-y-2 w-full mb-4 md:flex-row md:space-x-2 md:space-y-0 lg:w-9/12 lx: mx-auto">
                        <input type="email" placeholder="E.g. email@website.com" class="rounded border-lines border border-solid placeholder-lines px-4 h-11 block md:flex-1"/>
                        <button type="submit" class="h-11 px-3 bg-primary rounded text-white font-bold">Subscribe</button>
                    </div>
                    <p class="text-xs text-center">By clicking subscribe you will receive occasional emails from AccelByte. You always have the choice to unsubscribe within every email you receive.</p>
                </div>
            </div>
        </div>
    </section>