{{!< default}}

<section>
    <div class="container mx-auto px-4 py-10 md:px-8">
        <div class="flex justify-between">
            <div><h3 class="section__title">Featured News</h3></div>
            <div><h3 class="section__title"><i class='bx bx-search'></i></h3></div>
        </div>
        {{> "featured"}}
    </div>
</section>
<section>
    <div class="container mx-auto px-4 py-10 md:px-8 ">
        <h3 class="section__title">All News</h3>
        <div class="flex flex-col space-y-5 mb-12">
            {{#foreach posts}}
                {{> "card"}} {{!-- partials/card.hbs --}}
            {{/foreach}}
        </div>
        {{#if pagination.pages}}
            {{pagination}}
        {{/if}}
    </div>
</section>

{{> "subscribe"}}
