@import 'vars.css';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

:root {
    font-family: 'Roboto', sans-serif;
    color: var(--color-body);
}

body {
    background: #F5F6F8;
}

header  {
    a {
        color: var(--color-alt);
    }
    .active {
        position: relative;
        &:before {
            content: '';
            height: 2px;
            width: 100%;
            background-color: var(--color-alt);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 0;
        }
    }
}

.section {
    &__title {
        font-size: 26px;
        margin-bottom: 1.5rem;
        font-weight: 700;
    }
}

/* BLOG LIST */
.post-card {
    &__tags {
        font-size: 13px;
    }
    &date-author {
        font-size: 13px;
    }
}

.pagination {
    .active {
        background: #E1E4E9;
    }
}

/* SUBSCRIBE WIDGET */
#section--subscribe {
    h5 {
        font-size: 1.625rem;
    }
    .subscribe__container {
        max-width: 600px;
    }
}

/* FOOTER SECTION */
footer {
    .footer-menu {
        li {
            a {
                font-size: 0.875rem;
                line-height: 1.5em;
                color: var(--color-alt);
            }
        }
        &--columned {
            @media (min-width: 768px) {
                column-count: 3;
                column-gap: 2rem;
            }
            @media (min-width: 1024px) {
                column-count: 2;
            }
        }
    }
}