/* Variables
/* ---------------------------------------------------------- */

:root {

    --color-primary: #0B6CFF;
    --color-body: #15181D;
    --color-alt: #4C576B;
    --color-lines: #B8BFCD;
}
